#btnAdd {
  margin-bottom: 10px;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.flex-row > div {
  flex-grow: 1;
  margin-left: 5px;
}

.flex-row > div:first-child {
  margin-right: 5px;
  margin-left: 0px;
}